In [1]:
from poandy.controller.instrument import InstrumentController
from poandy.controller.account import AccountController

import pandas as pd

In [2]:
account_id = AccountController.get_default_account_id()

In [3]:
instruments = AccountController.get_tradeable_instruments(account_id, names_only=True)
instruments

['XAU_AUD',
 'AUD_CHF',
 'USD_INR',
 'UK10YB_GBP',
 'DE10YB_EUR',
 'USD_SEK',
 'GBP_SGD',
 'US30_USD',
 'SOYBN_USD',
 'XAG_AUD',
 'SGD_JPY',
 'SGD_HKD',
 'EUR_CHF',
 'USB30Y_USD',
 'XAU_NZD',
 'NZD_CAD',
 'XAU_GBP',
 'XAU_JPY',
 'EUR_NOK',
 'USD_JPY',
 'EUR_TRY',
 'SG30_SGD',
 'AUD_HKD',
 'NZD_SGD',
 'XAG_CHF',
 'EUR_NZD',
 'XPT_USD',
 'NL25_EUR',
 'XAU_EUR',
 'EUR_SGD',
 'XAU_SGD',
 'TRY_JPY',
 'USD_CHF',
 'AUD_SGD',
 'EUR_CZK',
 'TWIX_USD',
 'CORN_USD',
 'WTICO_USD',
 'XAU_USD',
 'EUR_CAD',
 'AUD_USD',
 'GBP_PLN',
 'EUR_USD',
 'NAS100_USD',
 'XAU_HKD',
 'CAD_HKD',
 'NZD_CHF',
 'CHF_HKD',
 'USD_ZAR',
 'EUR_JPY',
 'NZD_JPY',
 'EU50_EUR',
 'AU200_AUD',
 'USD_TRY',
 'GBP_JPY',
 'EUR_DKK',
 'EUR_PLN',
 'EUR_HKD',
 'FR40_EUR',
 'GBP_CAD',
 'USD_SAR',
 'HK33_HKD',
 'XAG_USD',
 'USB05Y_USD',
 'USD_THB',
 'GBP_CHF',
 'UK100_GBP',
 'USD_CAD',
 'SGD_CHF',
 'XAU_CHF',
 'XAG_CAD',
 'XPD_USD',
 'BCO_USD',
 'IN50_USD',
 'JP225_USD',
 'CN50_USD',
 'NATGAS_USD',
 'DE30_EUR',
 'USD_PLN',
 'GBP_AUD',
 'USD_MXN',
 'GBP_USD',
 'CAD_CHF',
 'XAG_HKD',
 'WHEAT_USD',
 'EUR_GBP',
 'XAG_SGD',
 'EUR_HUF',
 'XAG_EUR',
 'NZD_USD',
 'CHF_ZAR',
 'GBP_NZD',
 'USD_NOK',
 'USD_CZK',
 'CAD_SGD',
 'US2000_USD',
 'AUD_CAD',
 'ZAR_JPY',
 'USD_DKK',
 'GBP_HKD',
 'USD_HUF',
 'USB10Y_USD',
 'XAG_JPY',
 'XAG_GBP',
 'CAD_JPY',
 'USD_SGD',
 'EUR_SEK',
 'SUGAR_USD',
 'SPX500_USD',
 'USD_HKD',
 'EUR_AUD',
 'XAU_XAG',
 'AUD_NZD',
 'EUR_ZAR',
 'HKD_JPY',
 'CHF_JPY',
 'XCU_USD',
 'USB02Y_USD',
 'XAG_NZD',
 'XAU_CAD',
 'NZD_HKD',
 'AUD_JPY',
 'USD_CNH',
 'GBP_ZAR']

In [4]:
candles = InstrumentController.get_candles("USD_CAD", candle_params={'price': 'MB'})
candles

,complete,volume,time,mid.open,mid.high,mid.low,mid.close,bid.open,bid.high,bid.low,bid.close
0,True,3,2020-10-01 08:52:20,1.33072,1.33078,1.33072,1.33078,1.33064,1.33068,1.33064,1.33068
1,True,7,2020-10-01 08:52:30,1.33080,1.33086,1.33076,1.33076,1.33071,1.33076,1.33067,1.33067
2,True,3,2020-10-01 08:52:35,1.33073,1.33073,1.33068,1.33068,1.33063,1.33063,1.33059,1.33059
3,True,7,2020-10-01 08:52:40,1.33066,1.33066,1.33056,1.33061,1.33057,1.33057,1.33046,1.33052
4,True,5,2020-10-01 08:52:45,1.33058,1.33059,1.33054,1.33054,1.33049,1.33050,1.33045,1.33045
...,...,...,...,...,...,...,...,...,...,...,...
495,True,4,2020-10-01 09:50:05,1.32956,1.32958,1.32954,1.32954,1.32947,1.32949,1.32944,1.32944
496,True,3,2020-10-01 09:50:15,1.32951,1.32954,1.32951,1.32951,1.32942,1.32944,1.32942,1.32943
497,True,2,2020-10-01 09:50:20,1.32953,1.32953,1.32951,1.32951,1.32944,1.32944,1.32942,1.32942
498,True,1,2020-10-01 09:50:25,1.32953,1.32953,1.32953,1.32953,1.32943,1.32943,1.32943,1.32943
499,False,1,2020-10-01 09:50:30,1.32951,1.32951,1.32951,1.32951,1.32943,1.32943,1.32943,1.32943

In [5]:
orderbook = InstrumentController.get_orderbook("USD_CAD")
orderbook

Time of order book: 01/10/2020, 09:40:00
Midpoint price: 1.32977
Bucket width: 0.0005. Each bucket covers from bucket price to bucket price + bucket width

             price  longCountPercent  shortCountPercent
0     0.000000e+00            0.0633             0.0345
1     5.000000e-04            0.0115             0.0058
2     1.000000e-03            0.0000             0.0058
3     2.500000e-03            0.0058             0.0000
4     5.000000e-03            0.0115             0.0058
...            ...               ...                ...
1893  6.021560e+07            0.0000             0.0058
1894  7.225872e+07            0.0000             0.0058
1895  8.671046e+07            0.0000             0.0058
1896  1.000000e+08            0.0000             0.0058
1897  1.000000e+09            0.0000             0.0115

[1898 rows x 3 columns]

In [6]:
positionbook = InstrumentController.get_positionbook("USD_CAD")
positionbook

Time of position book: 01/10/2020, 09:40:00
Midpoint price: 1.32977
Bucket width: 0.0005. Each bucket covers from bucket price to bucket price + bucket width

      price  longCountPercent  shortCountPercent
0    1.1825            0.0000             0.0065
1    1.2065            0.0000             0.0065
2    1.2070            0.0065             0.0000
3    1.2080            0.0000             0.0065
4    1.2100            0.0000             0.0194
..      ...               ...                ...
487  1.4615            0.0065             0.0000
488  1.4630            0.0065             0.0065
489  1.4635            0.0065             0.0000
490  1.4645            0.0065             0.0000
491  1.4655            0.0065             0.0000

[492 rows x 3 columns]